.headerFull {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: gray;
}
.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .headerLeft {
  display: flex;
  justify-content: flex-start;
}
.headerCenter {
  display: flex;
  justify-content: center;
}
.headerRight {
  display: flex;
  justify-content: flex-end;
} */
