.headerFull {
    display: flex;
    justify-content: space-between;
    
    background-color: gray;
}
.headerItem {
    margin: 5px;
    border: 2px solid black;
}
.headerLeft {
    display: flex;
    justify-content: flex-start;
}
.headerCenter {
    display: flex;
    justify-content: center;
}
.headerRight {
    display: flex;
    justify-content: flex-end;
}
