/* All Parts */
body{
    background-color:rgb(242, 213, 207);
}

p{
    color: rgb(54, 58, 79);
}

div{
    color: rgb(54, 58, 79);

}

button{
    background-color: rgb(238, 212, 159);
    color: rgb(54, 58, 79);
    border-radius: 7px;
}

button:hover {
    cursor: pointer;
}













*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
}

button.header{
    margin: 10px;
    background-color: rgb(238, 212, 159);
    border: solid 2px rgb(54, 58, 79);
    padding: 10px;
    border-radius: 5px;
    font-weight: 700;
    color: rgb(54, 58, 79);
}

/* .headerFull button:hover {
    cursor: pointer;
} */

h1.header{
    background-color:rgb(242, 213, 207) ;
    box-shadow: 0px 0px 10px 2px rgb(240, 198, 198);
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 40px;
    color: rgb(54, 58, 79);
}

p.logInnUser{
    margin-right: 50px;
    background-color:rgb(242, 213, 207) ;
    padding: 10px;
    border-radius: 10px;
    color: rgb(54, 58, 79);
}

.headerFull {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 5px rgb(238, 153, 160);
  background-color: rgb(237, 135, 150);
  box-shadow: 0px 0px 10px 2px grey;
}
.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.headerLeft {
    
    justify-content: flex-start;
}
.headerCenter {
    
    justify-content: center;
}
.headerRight {
    
    justify-content: flex-end;
}

.settingsContent {
    margin: 5px;
}

.settingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.settingsItem {
    background-color: rgb(210, 210, 210);
    margin: 10px;
}