*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    margin: 0;
}


.headerFull {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  background-color: gray;
}
.headerItem {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLeft {
    
    justify-content: flex-start;
}
.headerCenter {
    
    justify-content: center;
}
.headerRight {
    
    justify-content: flex-end;
}

.settingsContent {
    margin: 5px;
}

.settingsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.settingsItem {
    background-color: rgb(210, 210, 210);
    margin: 10px;
}