.swipePageContainer {
    width: 100vw;
    display: grid;
    place-items: center;
    text-align: center;
}

.profileCard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.profileCard p {
    grid-column: span 3;
}

.img-container {
  width: 200px; /* or any specific value */
  height: 200px; /* or any specific value */
  overflow: hidden; /* Ensures anything outside the bounds does not show */
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* You can also apply object-fit here if desired */
}