.swipePageContainer {
    width: 1000px;
    display: grid;
    place-items: center;
    text-align: center;
    border: solid 5px rgb(238, 212, 159);
    box-shadow: 0px 0px 10px 5px grey;
    padding: 30px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
}

.profileCard {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
}

.profileCard button {
  width: 100px;
  height: 100px;
  box-shadow: 0px 0px 10px 2px grey;
  border: rgb(54, 58, 79) 1px;
}

.profileCard p {
    grid-column: span 3;
}

.img-container {
  width: 250px; 
  height: 250px;
  box-shadow: 0px 0px 10px 2px grey;
  border-radius: 10px;
  overflow: hidden; /* Ensures anything outside the bounds does not show */
}

.img-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
  /* You can also apply object-fit here if desired */
}

.endMessage li {
  text-align: start;
}

button.thumbs{
  font-size: 40px;
}










